PORT=8080
NODE_ENV=development
CLIENT_ORIGIN=http://localhost:8080
MONGODB_URI=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
ADMIN_PASSKEY=1234567899
JWT_SECRET=
JWT_EXPIRES_IN=1d
